<!DOCTYPE html>
<html>
  <head>
    <title>Mixflix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://i.imgur.com/XsWSOpa.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
